---
import Layout from "../layouts/HomeLayout.astro";
import Card from "../components/Card.astro";
import HeroCard from "../components/HeroCard.astro";
import Section from "../components/Section.astro";

const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");

const sections = [
  {
    title: "some stuff i've built",
    moreLink: `${baseUrl}/projects/`,
    cards: [
      {
        title: "magic table",
        body: "mid air gestures and raspberry pi fun",
        href: `${baseUrl}/projects/magic-table`,
      },
      {
        title: "live-template",
        body: "upgradeable project templates for react",
        href: `${baseUrl}/projects/live-template`,
      },
      {
        title: "sendwiz",
        body: "schedule imessage + whatsapp with ai",
        href: `${baseUrl}/projects/sendwiz`,
      },
    ],
  },
  {
    title: "some stuff i've thought about",
    moreLink: `${baseUrl}/thoughts/`,
    cards: [
      {
        title: "on runescape",
        body: "greatest mmorpg",
        href: `${baseUrl}/thoughts/runescape`,
      },
      {
        title: "on finishing",
        body: "done is better than perfect",
        href: `${baseUrl}/thoughts/finishing`,
      },
      {
        title: "on hobbies",
        body: "time = money?",
        href: `${baseUrl}/thoughts/hobbies`,
      },
    ],
  },
  {
    title: "some stuff i wanna learn",
    moreLink: `${baseUrl}/learning/`,
    cards: [
      {
        title: "on spanish",
        body: "unlock more thoughts",
        href: `${baseUrl}/learning/spanish`,
      },
      {
        title: "on chess",
        body: "childlike humility",
        href: `${baseUrl}/learning/chess`,
      },
      {
        title: "on concurrency",
        body: "single-threaded thoughts",
        href: `${baseUrl}/learning/concurrency`,
      },
    ],
  },
];
---

<Layout title="dayangrah.am">
  <div class="flex flex-col items-center text-black bg-background">
    <HeroCard class="my-8" />
    {
      sections.map(({ title, moreLink, cards }) => (
        <Section title={title} moreLink={moreLink}>
          {cards.map((card) => (
            <Card {...card} />
          ))}
        </Section>
      ))
    }
  </div>
</Layout>
