---
import Layout from "../layouts/HomeLayout.astro";
import Card from "../components/Card.astro";
import HeroCard from "../components/HeroCard.astro";
import Section from "../components/Section.astro";

const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");

const sections = [
  {
    title: "some stuff i've built",
    moreLink: `${baseUrl}/projects/`,
    cards: [
      {
        title: "magic table",
        body: "mid air gestures and raspberry pi fun",
        href: `${baseUrl}/projects/magic-table`,
      },
      {
        title: "live-template",
        body: "upgradeable project templates for react",
        href: `${baseUrl}/projects/live-template`,
      },
      {
        title: "sendwiz",
        body: "schedule imessage + whatsapp with ai",
        href: `${baseUrl}/projects/sendwiz`,
      },
    ],
  },
  {
    title: "some stuff i've thought about",
    moreLink: `${baseUrl}/thoughts/`,
    cards: [
      {
        title: "on runescape",
        body: "greatest mmorpg",
        href: `${baseUrl}/thoughts/runescape`,
      },
      {
        title: "on suffering",
        body: "is it necessary for greatness?",
        href: `${baseUrl}/thoughts/suffering`,
      },
      {
        title: "on stack procrastination",
        body: "muh new framework",
        href: `${baseUrl}/thoughts/procrastination`,
      },
    ],
  },
  {
    title: "some stuff i wanna learn",
    moreLink: `${baseUrl}/learning/`,
    cards: [
      {
        title: "on concurrency",
        body: "too much stuff",
        href: `${baseUrl}/learning/project-1`,
      },
      {
        title: "on laravel",
        body: "productivity",
        href: `${baseUrl}/learning/laravel`,
      },
      {
        title: "on stack procrastination",
        body: "muh new framework",
        href: `${baseUrl}/learning/procrastination`,
      },
    ],
  },
];
---

<Layout title="dayangrah.am">
  <div class="flex flex-col items-center text-black bg-background">
    <HeroCard class="my-8" />
    {
      sections.map(({ title, moreLink, cards }) => (
        <Section title={title} moreLink={moreLink}>
          {cards.map((card) => (
            <Card {...card} />
          ))}
        </Section>
      ))
    }
  </div>
</Layout>; ---
